html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  display: grid;
  place-items: center;
  font-family: sans-serif;
  background-color: rgb(165, 170, 168, 0.25);
  position: relative;
}

canvas {
  display: block;
  width: 600px;
  height: 745px;
  border-radius: 8px;
}

#start {
  background: none;
  border: 2px solid #000;
  border-radius: 8px;
  position: absolute;
  width: 280px;
  height: 64px;
  font-size: 24px;
  cursor: pointer;
  color: #000;
}

#start:hover {
  background-color: #000;
  color: #fff;
}

#app {
  width: 600px;
  margin: auto;
}

#sketch {
  position: relative;
}

.file {
  display: none;
}

.label {
  border: none;
  border-radius: 8px;
  background-color: #fff;
  background-image: url('/file.svg');
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: 5px 5px;
  display: block;
  width: 50px;
  height: 50px;
  cursor: pointer;
}